#
# Focaltech Touchscreen driver configuration
#

config TOUCHSCREEN_FT5446U
    tristate "Focaltech Touchscreen"
    default n
    help
      Say Y here if you have Focaltech touch panel.
      If unsure, say N.
      
config TOUCHSCREEN_FTS_DIRECTORY
    string "Focaltech ts directory name"
    default "FT5446U"
    depends on TOUCHSCREEN_FT5446U

config TOUCHSCREEN_FTS_GKI_MODULE_DRIVER
    tristate "Focaltech ts gki module driver"
    default n
    depends on TOUCHSCREEN_FT5446U
