# FIH: driver/fih/Kconfig {
CONFIG_FIH=y
CONFIG_FIH_SX4=y
CONFIG_FIH_APR=m
CONFIG_FIH_BINF=m
CONFIG_FIH_CPU=m
CONFIG_FIH_DDR=m
CONFIG_FIH_EXP=m
CONFIG_FIH_FVER=m
CONFIG_FIH_INFO=m
CONFIG_FIH_MFD=m
CONFIG_FIH_PDD=m
CONFIG_FIH_SEB=m
CONFIG_FIH_SIM=m
CONFIG_FIH_TRAY=m
CONFIG_FIH_UFS=m
CONFIG_SHR_LOG=m
# FIH: driver/fih/Kconfig }
# CONFIG_XFRM_MIGRATE is not set
CONFIG_DRM_PANEL_DJN_NT36528H_VDO=m
CONFIG_DRM_PANEL_CPT_NT36528H_VDO=m
CONFIG_FIH_TOUCH=m
CONFIG_TOUCHSCREEN_NT36528_HOSTDL_SPI=m
CONFIG_SND_SMARTPA_AW883XX=m
CONFIG_CUSTOM_KERNEL_IMGSENSOR="s5kjnssq33_mipi_raw s5k4h7_mipi_raw gc02m1b_mipi_mono"
CONFIG_MTK_FINGERPRINT_SUPPORT=y
CONFIG_FPC_FINGERPRINT_STANDALONE=m
CONFIG_LOG_BUF_SHIFT=21
